{% extends "dashboard.html" %}

{% block content %}
{% load staticfiles %}
<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">

              </div>


            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Company Profile</h2>

                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                      <div class="profile_img">
                        <div id="crop-avatar">
                          <!-- Current avatar -->
                          <img width="100" height="100" class="img-responsive avatar-view" src="/media/{{company.logo}}" alt="{{company.logo}}" title="Change the avatar">
                        </div>
                      </div>
                      <h3>{{ company.name }}</h3>

                      <ul class="list-unstyled user_data">
                        <li>
                            <i class="fa fa-map-marker user-profile-icon"></i> {{ company.state }}, {{ company.city }}
                        </li>

                        <li>
                          <i class="fa fa-briefcase user-profile-icon"></i> {{ company.field}}
                        </li>
                          <li>
                          <i class="fa fa-briefcase user-profile-icon"></i> {{ company.type }}
                        </li>

                        <li class="m-top-xs">
                          <i class="fa fa-external-link user-profile-icon"></i>
                          <a href="{{ profile.website}}" target="_blank"></a>
                        </li>
                        <li class="m-top-xs">
                          <i class="fa fa-external-link user-profile-icon"></i>
                          <a href="{{ profile.linkedin}}" target="_blank"></a>
                        </li>
                      </ul>

                      <a class="btn btn-success" href="{% url 'edit_company_profile' %}"><i class="fa fa-edit m-right-xs"></i>Edit Profile</a>
                      <br />

                      <!-- start skills -->

                      <!-- end of skills -->

                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">

                      <div class="profile_title">
                        <div class="col-md-6">
                          <h2>About Us</h2>
                        </div>
                        <div class="col-md-6">
                          <div id="reportrange" class="pull-right" style="margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #E6E9ED">

                          </div>
                        </div>
                      </div>
                      <!-- start of user-activity-graph -->
                      <div id="graph_bar" style="width:100%; height:280px;">
                          <p>{{ company.description }}</p>
                      </div>
                      <!-- end of user-activity-graph -->


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}