{% extends "base.html" %}

{% block content %}
{% load staticfiles %}

<section id="recent-works" >
        <div class="container">
            <div class="row">
                <div class="features">
                    <div class="container">



              <div class="col-md-10 col-md-offset-1">
                <div class="x_panel">
                  <div class="x_content">
                    <div class="row">
                        <div class="col-md-3 panel panel-default">
                            <div class="panel-heading">
                                <img src="/media/{{job.company.logo}}" alt="{{ job.company.logo }}" height="150" width="150"/>
                            </div>
                            <div class="panel-body">
                                <div class="x_title">
                                    <h2>{{ job.company.name }}</h2>
                                    <div class="clearfix"></div>
                                </div>

                                <p>{{ job.company.description }}</p>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="x_title">
                                        <h1>{{ job.title }}</h1>
                                    <div class="clearfix"></div>
                                        {% if request.user.type == 'std' %}
                                        <button type="button" data-toggle="modal" data-target="#myModal">Apply Now</button>
                                        {% else %}
                                        <p><a href="{% url 'student_signin' %}"> Login </a>to apply this job</p>
                                        {% endif %}

                                </div>

                                </div>
                                <div class="panel-body">
                                    <div class="panel-body">{{ job.summery }}</div>
                                </div>

                            </div>
                        </div>

                    </div>
                  </div>
                </div>
              </div>




                         </div><!--/.services-->
            </div><!--/.row-->
        </div><!--/.container-->
    </section>

         <!----------- Job apply Modal--------->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Apply job now</h4>
        </div>
        <div class="modal-body">
          <form enctype="multipart/form-data" class="form" action="{% url 'job-detail' job_id %}" method="post"><!---------- Application form --------->
              {% csrf_token %}
              <div class="form-group">
                  {{ form }}
                  <!----
                <label for="exampleInputFile">Attach your CV</label>
                   <input type="file" id="exampleInputFile">-->
              </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="close" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>



<script type="text/javascript">
$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').focus()
})

</script>


{% endblock %}