<!DOCTYPE html>
<html lang="en">
  <head>
      {% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>JobGro | </title>

    <!-- Bootstrap -->
    <link href="{% static 'theme/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'theme/css/font-awesome.min.css' %}" rel="stylesheet">
      <!--
    <link href="{% static 'vendors/nprogress/nprogress.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/jqvmap/dist/jqvmap.min.css' %}" rel="stylesheet">
    -->
    <link href="{% static 'theme/css/custom.min.css' %}" rel="stylesheet">
    <!-- Font Awesome -->
    <!-- NProgress -->
    <!-- iCheck -->
    <!-- bootstrap-progressbar -->
    <!-- JQVMap -->

    <!-- Custom Theme Style -->
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="{%  url 'home' %}" class="site_title"><i class="fa fa-paw"></i> <span>JobGro</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile">
              <div class="profile_pic">
                  {% if request.user.type == 'emp' %}
                <img src="/media/{{request.user.companyprofile.logo}}" alt="" class="img-circle profile_img">
                  {% elif request.user.type == 'std' %}
                  <img src="/media/{{request.user.studentprofile.picture}}" alt="" class="img-circle profile_img">
                  {% endif %}
              </div>
              <div class="profile_info">
                <span>Welcome hi,</span>
                <h2>{{ request.user.username }}</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>{{ request.user.companyprofile.name }}</h3>
                <ul class="nav side-menu">
                  <li><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home </a>
                  </li>

                  </li>
                    {% if request.user.type == 'std' %}
                  <li><a href="{% url 'student_profile' %}"><i class="fa fa-desktop"></i> Profile </span></a>
                      {% elif request.user.type == 'emp' %}
                        <li><a href="{% url 'employer_dashboard' %}"><i class="fa fa-edit"></i> Dashboard </span></a>
                        <li><a href="{% url 'company_profile' %}"><i class="fa fa-desktop"></i>Company Profile </span></a>
                    {% endif %}
                  </li>
                  <li><a href="{% url 'all-job-list' %}"><i class="fa fa-table"></i> All Jobs</span></a>
                  </li>


                </ul>
              </div>


            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a href="{% url 'logout' %}" data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="{% static 'images/img.jpg' %}" alt="">{{ request.user.username }}
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                      {% if request.user.type == 'std' %}
                    <li><a href="{% url 'student_profile' %}"> Profile</a></li>
                      {% else %}
                      <li><a href="{% url 'company_profile' %}">Company Profile</a></li>
                      <li><a href="{% url 'employer_dashboard' %}">Dashboard</a></li>
                      {% endif %}

                    <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                  </ul>
                </li>


              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->

          {% block content %}
            {% endblock %}


        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->

    <script src="{% static 'theme/js/jquery.min.js' %}"></script>
    <script src="{% static 'theme/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'theme/js/ajax.js' %}"></script>

    <!--
    <script src="{% static 'vendors/fastclick/lib/fastclick.js' %}"></script>
    <script src="{% static 'vendors/nprogress/nprogress.js' %}"></script>
    <script src="{% static 'vendors/Chart.js/dist/Chart.min.js' %}"></script>

    <script src="{% static 'vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
    <script src="{% static 'vendors/iCheck/icheck.min.js' %}"></script>
    <script src="{% static 'vendors/skycons/skycons.js' %}"></script>
    <script src="{% static 'vendors/Flot/jquery.flot.js' %}"></script>
    <script src="{% static 'vendors/Flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'vendors/Flot/jquery.flot.time.js' %}"></script>
    <script src="{% static 'vendors/Flot/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'vendors/Flot/jquery.flot.resize.js' %}"></script>
    <!-- Bootstrap -->
    <!-- FastClick -->
    <!-- NProgress -->
    <!-- Chart.js -->
    <!-- gauge.js -->
    <!-- bootstrap-progressbar -->
    <!-- iCheck -->
    <!-- Skycons -->
    <!-- Flot -->
    <!-- Flot plugins
    <script src="../vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="../vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="../vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS --
    <script src="../vendors/DateJS/build/date.js"></script>
    <!-- JQVMap --
    <script src="../vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="../vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="../vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker
    <script src="js/moment/moment.min.js"></script>
    <script src="js/datepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="{% static 'theme/js/custom.min.js' %}"></script>
  </body>
</html>